.footer-section {
  text-align: center;
  padding: 2rem 0;
  color: var(--gray-color);
  background-color: var(--white-color);
  border-top: 1px solid var(--lightGray-color);

  p {
    margin: 0;
    font-size: 0.9rem;

    @media screen and (max-width: 500px) {
      font-size: 0.8rem;
    }
  }
}
