.header-section {
  text-align: center;
  padding: 6rem 2rem;
  background-color: var(--primary-color);
  color: var(--black-color);

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;

    span {
      color: var(--secondary-color);
    }

    @media screen and (max-width: 500px) {
      font-size: 1.8rem;
    }
  }

  h3 {
    font-size: 1.2rem;
    color: var(--gray-color);

    @media screen and (max-width: 500px) {
      font-size: 1rem;
    }
  }
}
